absl-py==1.4.0
accelerate==0.16.0
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
altair==5.0.1
antlr4-python3-runtime==4.9.3
anyio==3.7.1
async-timeout==4.0.2
attrs==23.1.0
basicsr==1.4.2
beautifulsoup4==4.12.2
blis==0.7.9
braceexpand==0.1.7
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.1.0
chumpy==0.70
click==8.1.3
clip==0.1.0
cmake==3.26.3
coloredlogs==15.0.1
confection==0.0.4
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
decorator==4.4.2
decord==0.6.0
diffusers==0.14.0
einops==0.6.0
elasticsearch==1.9.0
exceptiongroup==1.1.2
fastapi==0.99.1
ffmpy==0.3.0
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
future==0.18.3
google-auth==2.21.0
google-auth-oauthlib==1.0.0
gradio==3.23.0
grpcio==1.56.0
h11==0.14.0
h5py==3.9.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.15.1
humanfriendly==10.0
idna==3.4
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==6.7.0
importlib-resources==5.12.0
invisible-watermark==0.1.5
iso8601==2.0.0
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.17.3
kiwisolver==1.4.4
kornia==0.6.0
langcodes==3.3.0
lazy_loader==0.3
lightning-utilities==0.9.0
linkify-it-py==2.0.2
lit==16.0.5
lmdb==1.4.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
networkx==3.1
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.0
onnxruntime==1.15.1
open-clip-torch==2.16.0
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
orjson==3.9.1
packaging==23.1
pandas==2.0.3
pathy==0.10.1
Pillow==9.4.0
pip==23.1.2
pkgutil_resolve_name==1.3.10
preshed==3.0.8
prettytable==3.6.0
proglog==0.1.10
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.11
pyDeprecate==0.3.1
pydub==0.25.1
PyJWT==2.7.0
pyparsing==3.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-multipart==0.0.6
pytorch-lightning==1.5.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
qudida==0.0.4
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.2.7
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.10.1
semantic-version==2.10.0
sentencepiece==0.1.99
setuptools==67.8.0
six==1.16.0
smart-open==6.3.0
smplpytorch==0.0.8
smplx==0.1.28
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
starlette==0.27.0
sympy==1.12
tb-nightly==2.14.0a20230705
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6
test-tube==0.7.5
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2023.7.4
timm==0.6.12
tokenizers==0.13.3
tomesd==0.1.3
toolz==0.12.0
torch==1.13.1
torchmetrics==1.0.0
torchvision==0.14.1
tqdm==4.64.1
transformers==4.26.0
trimesh==3.22.3
triton==2.0.0
typer==0.7.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.26.16
uvicorn==0.22.0
wasabi==1.1.1
wcwidth==0.2.6
webdataset==0.2.5
websockets==11.0.3
Werkzeug==2.3.6
wheel==0.38.4
yapf==0.32.0
yarl==1.9.2
zipp==3.15.0
